{% for file in site.static_files %}
  {% if file.image %}
    Test - <img src="{{site.baseurl}}{{file.path}}" alt="">
  {% endif %}
  {{site.baseurl}}{{file.path}}<br>
{% endfor %}

{% for post in site.posts %}
  Test <br>
  <li><a style="{% if page.url == post.url %}color:red{%endif%}" href="{{ post.url | relative_url }}"> {{ post.title }}</a></li>
{% endfor %}

{% for page in site.pages %}
  Test <br>
  <li><a style="{% if page.url == post.url %}color:red{%endif%}" href="{{ page.url | relative_url }}"> {{ post.title }}</a></li>
{% endfor %}
